USE [CALCULACOTT]
GO
/****** Object:  StoredProcedure [dbo].[pa_insertaunidadventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_insertaunidadventaenc]
GO
/****** Object:  StoredProcedure [dbo].[pa_insertaperfilventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_insertaperfilventaenc]
GO
/****** Object:  StoredProcedure [dbo].[pa_insertaperfilventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_insertaperfilventadet]
GO
/****** Object:  StoredProcedure [dbo].[pa_insertaperfiluniventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_insertaperfiluniventaenc]
GO
/****** Object:  StoredProcedure [dbo].[pa_insertaperfiluniventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_insertaperfiluniventadet]
GO
/****** Object:  StoredProcedure [dbo].[pa_insertaperfiluhmlventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_insertaperfiluhmlventaenc]
GO
/****** Object:  StoredProcedure [dbo].[pa_insertaperfiluhmlventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_insertaperfiluhmlventadet]
GO
/****** Object:  StoredProcedure [dbo].[pa_insertaperfilsfiventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_insertaperfilsfiventaenc]
GO
/****** Object:  StoredProcedure [dbo].[pa_insertaperfilsfiventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_insertaperfilsfiventadet]
GO
/****** Object:  StoredProcedure [dbo].[pa_insertaperfilresventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_insertaperfilresventaenc]
GO
/****** Object:  StoredProcedure [dbo].[pa_insertaperfilresventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_insertaperfilresventadet]
GO
/****** Object:  StoredProcedure [dbo].[pa_insertaperfilmicventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_insertaperfilmicventaenc]
GO
/****** Object:  StoredProcedure [dbo].[pa_insertaperfilmicventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_insertaperfilmicventadet]
GO
/****** Object:  StoredProcedure [dbo].[pa_insertaperfilmicrestaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_insertaperfilmicrestaenc]
GO
/****** Object:  StoredProcedure [dbo].[Pa_Insertagradosclasificacion]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[Pa_Insertagradosclasificacion]
GO
/****** Object:  StoredProcedure [dbo].[Pa_InsertaDatosEmpresa]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[Pa_InsertaDatosEmpresa]
GO
/****** Object:  StoredProcedure [dbo].[Pa_InsertaCliente]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[Pa_InsertaCliente]
GO
/****** Object:  StoredProcedure [dbo].[Pa_Insertaclasesclasificacion]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[Pa_Insertaclasesclasificacion]
GO
/****** Object:  StoredProcedure [dbo].[pa_insertacalculoenc]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_insertacalculoenc]
GO
/****** Object:  StoredProcedure [dbo].[pa_insertacalculodet]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_insertacalculodet]
GO
/****** Object:  StoredProcedure [dbo].[pa_eliminarparametrosperfilunidet]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_eliminarparametrosperfilunidet]
GO
/****** Object:  StoredProcedure [dbo].[pa_eliminarparametrosperfiluhmldet]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_eliminarparametrosperfiluhmldet]
GO
/****** Object:  StoredProcedure [dbo].[pa_eliminarparametrosperfilsfidet]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_eliminarparametrosperfilsfidet]
GO
/****** Object:  StoredProcedure [dbo].[pa_eliminarparametrosperfilresdet]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_eliminarparametrosperfilresdet]
GO
/****** Object:  StoredProcedure [dbo].[pa_eliminarparametrosperfilmicdet]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_eliminarparametrosperfilmicdet]
GO
/****** Object:  StoredProcedure [dbo].[pa_eliminarparametrosgradosclasif]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_eliminarparametrosgradosclasif]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultausoperfiluni]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultausoperfiluni]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultausoperfiluhml]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultausoperfiluhml]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultausoperfilstr]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultausoperfilstr]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultausoperfilsfi]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultausoperfilsfi]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultausoperfilmic]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultausoperfilmic]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultaunidadventa]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultaunidadventa]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultaresumencalculo]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultaresumencalculo]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultaprfilventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultaprfilventadet]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultaperfilventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultaperfilventaenc]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultaperfilventacalculo]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultaperfilventacalculo]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultaperfiluniventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultaperfiluniventaenc]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultaperfiluniventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultaperfiluniventadet]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultaperfiluhmlventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultaperfiluhmlventaenc]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultaperfiluhmlventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultaperfiluhmlventadet]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultaperfilsfiventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultaperfilsfiventaenc]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultaperfilsfiventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultaperfilsfiventadet]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultaperfilresventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultaperfilresventaenc]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultaperfilresventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultaperfilresventadet]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultaperfilmicventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultaperfilmicventaenc]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultaperfilmicventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultaperfilmicventadet]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultapacasdet]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultapacasdet]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultagradosclasificacion]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultagradosclasificacion]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultagradecalculo]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultagradecalculo]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultadatosempresa]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultadatosempresa]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultacombouniventa]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultacombouniventa]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultacombounidadventa]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultacombounidadventa]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultacombouhmlventa]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultacombouhmlventa]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultacombosfiventa]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultacombosfiventa]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultacomboresventa]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultacomboresventa]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultacomboperfilventa]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultacomboperfilventa]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultacombomicventa]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultacombomicventa]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultacliente]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultacliente]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultaclasesclasificacion]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultaclasesclasificacion]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultacastigouni]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultacastigouni]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultacastigouhml]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultacastigouhml]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultacastigosfi]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultacastigosfi]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultacastigores]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultacastigores]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultacastigomic]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultacastigomic]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultacalculos]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultacalculos]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultacalculoreporte]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP PROCEDURE [dbo].[pa_consultacalculoreporte]
GO
/****** Object:  Table [dbo].[conf_datosempresa]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP TABLE [dbo].[conf_datosempresa]
GO
/****** Object:  Table [dbo].[com_calcularenc]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP TABLE [dbo].[com_calcularenc]
GO
/****** Object:  Table [dbo].[com_calculadet]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP TABLE [dbo].[com_calculadet]
GO
/****** Object:  Table [dbo].[cat_unidadventa]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP TABLE [dbo].[cat_unidadventa]
GO
/****** Object:  Table [dbo].[cat_perfilventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP TABLE [dbo].[cat_perfilventaenc]
GO
/****** Object:  Table [dbo].[cat_perfilventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP TABLE [dbo].[cat_perfilventadet]
GO
/****** Object:  Table [dbo].[cat_perfiluniventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP TABLE [dbo].[cat_perfiluniventaenc]
GO
/****** Object:  Table [dbo].[cat_perfiluniventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP TABLE [dbo].[cat_perfiluniventadet]
GO
/****** Object:  Table [dbo].[cat_perfiluhmlventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP TABLE [dbo].[cat_perfiluhmlventaenc]
GO
/****** Object:  Table [dbo].[cat_perfiluhmlventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP TABLE [dbo].[cat_perfiluhmlventadet]
GO
/****** Object:  Table [dbo].[cat_perfilsfiventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP TABLE [dbo].[cat_perfilsfiventaenc]
GO
/****** Object:  Table [dbo].[cat_perfilsfiventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP TABLE [dbo].[cat_perfilsfiventadet]
GO
/****** Object:  Table [dbo].[cat_perfilresventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP TABLE [dbo].[cat_perfilresventaenc]
GO
/****** Object:  Table [dbo].[cat_perfilresventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP TABLE [dbo].[cat_perfilresventadet]
GO
/****** Object:  Table [dbo].[cat_perfilmicventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP TABLE [dbo].[cat_perfilmicventaenc]
GO
/****** Object:  Table [dbo].[cat_perfilmicventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP TABLE [dbo].[cat_perfilmicventadet]
GO
/****** Object:  Table [dbo].[cat_gradosclasificacion]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP TABLE [dbo].[cat_gradosclasificacion]
GO
/****** Object:  Table [dbo].[cat_clientes]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP TABLE [dbo].[cat_clientes]
GO
/****** Object:  Table [dbo].[cat_clasesclasificacion]    Script Date: 12/04/2024 11:11:52 AM ******/
DROP TABLE [dbo].[cat_clasesclasificacion]
GO
/****** Object:  Table [dbo].[cat_clasesclasificacion]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_clasesclasificacion](
	[idclasesenc] [int] IDENTITY(1,1) NOT NULL,
	[idclasificacion] [int] NULL,
	[clave] [nvarchar](6) NULL,
	[Descripcion] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[idclasesenc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[idclasificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[cat_clientes]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_clientes](
	[Idcliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](150) NULL,
	[rfc] [nvarchar](15) NULL,
	[calle] [nvarchar](150) NULL,
	[numext] [nvarchar](10) NULL,
	[colonia] [nvarchar](50) NULL,
	[codigopostal] [nvarchar](8) NULL,
	[municipio] [nvarchar](50) NULL,
	[estado] [nvarchar](50) NULL,
	[pais] [nvarchar](50) NULL,
	[nombrecontacto] [nvarchar](150) NULL,
	[mail] [nvarchar](50) NULL,
	[telefono] [nvarchar](17) NULL,
PRIMARY KEY CLUSTERED 
(
	[Idcliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[cat_gradosclasificacion]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_gradosclasificacion](
	[Idgradosclasificacion] [int] IDENTITY(1,1) NOT NULL,
	[gradocolor] [nvarchar](5) NULL,
	[trashid] [int] NULL,
	[descripcion] [nvarchar](40) NULL,
	[idclase] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Idgradosclasificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[cat_perfilmicventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_perfilmicventadet](
	[idperfildet] [int] IDENTITY(1,1) NOT NULL,
	[idperfilenc] [int] NULL,
	[rango1] [decimal](6, 2) NULL,
	[rango2] [decimal](6, 2) NULL,
	[castigo] [decimal](6, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idperfildet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[cat_perfilmicventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cat_perfilmicventaenc](
	[idperfilenc] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](30) NULL,
	[idestatus] [int] NULL,
	[fechacreacion] [datetime] NULL,
	[fechaactualizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idperfilenc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cat_perfilresventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_perfilresventadet](
	[idperfildet] [int] IDENTITY(1,1) NOT NULL,
	[idperfilenc] [int] NULL,
	[rango1] [decimal](6, 2) NULL,
	[rango2] [decimal](6, 2) NULL,
	[castigo] [decimal](6, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idperfildet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[cat_perfilresventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cat_perfilresventaenc](
	[idperfilenc] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](30) NULL,
	[idestatus] [int] NULL,
	[fechacreacion] [datetime] NULL,
	[fechaactualizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idperfilenc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cat_perfilsfiventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_perfilsfiventadet](
	[idperfildet] [int] IDENTITY(1,1) NOT NULL,
	[idperfilenc] [int] NULL,
	[rango1] [decimal](6, 2) NULL,
	[rango2] [decimal](6, 2) NULL,
	[castigo] [decimal](6, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idperfildet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[cat_perfilsfiventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cat_perfilsfiventaenc](
	[idperfilenc] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](30) NULL,
	[idestatus] [int] NULL,
	[fechacreacion] [datetime] NULL,
	[fechaactualizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idperfilenc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cat_perfiluhmlventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_perfiluhmlventadet](
	[idperfildet] [int] IDENTITY(1,1) NOT NULL,
	[idperfilenc] [int] NULL,
	[rango1] [decimal](6, 2) NULL,
	[rango2] [decimal](6, 2) NULL,
	[LenghtNDS] [int] NULL,
	[castigo] [decimal](6, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idperfildet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[cat_perfiluhmlventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cat_perfiluhmlventaenc](
	[idperfilenc] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](30) NULL,
	[idestatus] [int] NULL,
	[fechacreacion] [datetime] NULL,
	[fechaactualizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idperfilenc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cat_perfiluniventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_perfiluniventadet](
	[idperfildet] [int] IDENTITY(1,1) NOT NULL,
	[idperfilenc] [int] NULL,
	[rango1] [decimal](6, 2) NULL,
	[rango2] [decimal](6, 2) NULL,
	[castigo] [decimal](6, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idperfildet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[cat_perfiluniventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cat_perfiluniventaenc](
	[idperfilenc] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](30) NULL,
	[idestatus] [int] NULL,
	[fechacreacion] [datetime] NULL,
	[fechaactualizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idperfilenc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cat_perfilventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_perfilventadet](
	[idperfildet] [int] IDENTITY(1,1) NOT NULL,
	[idperfilenc] [int] NULL,
	[idclasesenc] [int] NULL,
	[diferencial] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idperfildet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[cat_perfilventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_perfilventaenc](
	[idperfilenc] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](30) NULL,
	[idestatus] [int] NULL,
	[fechacreacion] [datetime] NULL,
	[fechaactualizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idperfilenc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[cat_unidadventa]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_unidadventa](
	[idperfilenc] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](12) NULL,
	[valorunidad] [decimal](10, 4) NULL,
	[idestatus] [int] NULL,
	[fechacreacion] [datetime] NULL,
	[fechaactualizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idperfilenc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[com_calculadet]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[com_calculadet](
	[idcalculodet] [int] IDENTITY(1,1) NOT NULL,
	[idcalculo] [int] NULL,
	[baleid] [bigint] NULL,
	[mic] [float] NULL,
	[uhml] [float] NULL,
	[ui] [float] NULL,
	[strength] [float] NULL,
	[sfi] [float] NULL,
	[elongation] [float] NULL,
	[grade] [nvarchar](6) NULL,
	[colorgrade] [nvarchar](4) NULL,
	[trashcount] [int] NULL,
	[trasharea] [float] NULL,
	[trashid] [int] NULL,
	[sci] [int] NULL,
	[kilos] [decimal](10, 4) NULL,
	[preciopaca] [decimal](18, 6) NULL,
	[precioclase] [decimal](18, 4) NULL,
	[valorpeso] [decimal](18, 4) NULL,
	[valorunidad] [decimal](18, 4) NULL,
	[castigomic] [decimal](18, 4) NULL,
	[castigouhml] [decimal](18, 4) NULL,
	[castigores] [decimal](18, 4) NULL,
	[castigouni] [decimal](18, 4) NULL,
	[castigosfi] [decimal](18, 4) NULL,
 CONSTRAINT [PK__com_calc__578D85D42F8D68A4] PRIMARY KEY CLUSTERED 
(
	[idcalculodet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[com_calcularenc]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[com_calcularenc](
	[idcalculo] [int] IDENTITY(1,1) NOT NULL,
	[idcomprador] [int] NULL,
	[idunidadventa] [int] NULL,
	[valorunidad] [decimal](10, 4) NULL,
	[precio] [money] NULL,
	[puntos] [money] NULL,
	[preciosm] [money] NULL,
	[preciom] [money] NULL,
	[preciomp] [money] NULL,
	[precioslmp] [money] NULL,
	[precioslm] [money] NULL,
	[preciolmp] [money] NULL,
	[preciolm] [money] NULL,
	[preciosgo] [money] NULL,
	[preciogo] [money] NULL,
	[precioo] [money] NULL,
	[cantidadpacas] [int] NULL,
	[activatara] [bit] NULL,
	[valortara] [decimal](4, 2) NULL,
	[idperfilventa] [int] NULL,
	[activamic] [bit] NULL,
	[idperfilmic] [int] NULL,
	[castigomic] [money] NULL,
	[activauhml] [bit] NULL,
	[idperfiluhml] [int] NULL,
	[castigouhml] [money] NULL,
	[activastr] [bit] NULL,
	[idperfilstr] [int] NULL,
	[castigostr] [money] NULL,
	[activauni] [bit] NULL,
	[idperfiluni] [int] NULL,
	[castigouni] [money] NULL,
	[activasfi] [bit] NULL,
	[idperfilsfi] [int] NULL,
	[castigosfi] [money] NULL,
	[subtotal] [money] NULL,
	[castigototal] [money] NULL,
	[preciototal] [decimal](12, 4) NULL,
	[observaciones] [nvarchar](max) NULL,
	[fechacreacion] [datetime] NULL,
	[fechaactualizacion] [datetime] NULL,
 CONSTRAINT [PK__com_calc__8C8AEA8F1E2330E4] PRIMARY KEY CLUSTERED 
(
	[idcalculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[conf_datosempresa]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[conf_datosempresa](
	[IdEmpresa] [int] IDENTITY(1,1) NOT NULL,
	[Razonsocial] [nvarchar](150) NULL,
	[rfcempresa] [nvarchar](15) NULL,
	[calleempresa] [nvarchar](150) NULL,
	[numextempresa] [nvarchar](10) NULL,
	[coloniaempresa] [nvarchar](50) NULL,
	[cpempresa] [nvarchar](8) NULL,
	[municipioempresa] [nvarchar](50) NULL,
	[estadoempresa] [nvarchar](50) NULL,
	[paisempresa] [nvarchar](50) NULL,
	[nombrecontacto] [nvarchar](150) NULL,
	[mailempresa] [nvarchar](50) NULL,
	[telefonoempresa] [nvarchar](17) NULL,
	[logoempresa] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[pa_consultacalculoreporte]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_consultacalculoreporte]
@idcalculo int
as
		select co.idcalculo,
			co.idcomprador ,			
			co.idunidadventa ,
			cu.descripcion as unidadventa,
			co.valorunidad ,
			co.precio ,
			co.puntos ,
			co.preciosm ,
			co.preciom ,
			co.preciomp ,
			co.precioslmp ,
			co.precioslm ,
			co.preciolmp ,
			co.preciolm ,
			co.preciosgo ,
			co.preciogo ,
			co.precioo ,
			co.cantidadpacas ,
			co.activatara ,
			co.valortara ,			
			co.activamic ,			
			co.castigomic ,
			co.activauhml ,			
			co.castigouhml ,
			co.activastr ,			
			co.castigostr ,
			co.activauni ,			
			co.castigouni ,
			co.activasfi ,			
			co.castigosfi ,
			co.subtotal ,
			co.castigototal ,
			co.preciototal ,
			co.observaciones ,
			co.fechacreacion ,
			co.fechaactualizacion
	from com_calcularenc co inner join cat_clientes cl on co.idcomprador = cl.Idcliente	
							inner join cat_unidadventa cu on co.idunidadventa = cu.idperfilenc
	where co.idcalculo = @idcalculo
	order by co.idcalculo
GO
/****** Object:  StoredProcedure [dbo].[pa_consultacalculos]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[pa_consultacalculos]
@nombrecomprador nvarchar(100),
@idcalculo int = 0
as
if @nombrecomprador <> '' and @idcalculo = 0
	begin
		select idcalculo,
				co.idcomprador ,
				cl.nombre,
				idunidadventa ,
				valorunidad ,
				precio ,
				puntos ,
				preciosm ,
				preciom ,
				preciomp ,
				precioslmp ,
				precioslm ,
				preciolmp ,
				preciolm ,
				preciosgo ,
				preciogo ,
				precioo ,
				cantidadpacas ,
				activatara ,
				valortara ,
				idperfilventa ,
				activamic ,
				idperfilmic ,
				castigomic ,
				activauhml ,
				idperfiluhml ,
				castigouhml ,
				activastr ,
				idperfilstr ,
				castigostr ,
				activauni ,
				idperfiluni ,
				castigouni ,
				activasfi ,
				idperfilsfi ,
				castigosfi ,
				subtotal ,
				castigototal ,
				preciototal ,
				observaciones ,
				fechacreacion ,
				fechaactualizacion
		from com_calcularenc co inner join cat_clientes cl on co.idcomprador = cl.Idcliente
		where cl.nombre like '%'+@nombrecomprador+'%'
		order by co.idcalculo
	end
else if @nombrecomprador = '' and @idcalculo > 0
	begin
		select idcalculo,
			co.idcomprador ,			
			idunidadventa ,
			valorunidad ,
			precio ,
			puntos ,
			preciosm ,
			preciom ,
			preciomp ,
			precioslmp ,
			precioslm ,
			preciolmp ,
			preciolm ,
			preciosgo ,
			preciogo ,
			precioo ,
			cantidadpacas ,
			activatara ,
			valortara ,
			idperfilventa ,
			activamic ,
			idperfilmic ,
			castigomic ,
			activauhml ,
			idperfiluhml ,
			castigouhml ,
			activastr ,
			idperfilstr ,
			castigostr ,
			activauni ,
			idperfiluni ,
			castigouni ,
			activasfi ,
			idperfilsfi ,
			castigosfi ,
			subtotal ,
			castigototal ,
			preciototal ,
			observaciones ,
			fechacreacion ,
			fechaactualizacion
	from com_calcularenc co inner join cat_clientes cl on co.idcomprador = cl.Idcliente	
	where co.idcalculo = @idcalculo
	order by co.idcalculo
	end
else
	begin
		select idcalculo,
			co.idcomprador ,
			cl.nombre,
			idunidadventa ,
			valorunidad ,
			precio ,
			puntos ,
			preciosm ,
			preciom ,
			preciomp ,
			precioslmp ,
			precioslm ,
			preciolmp ,
			preciolm ,
			preciosgo ,
			preciogo ,
			precioo ,
			cantidadpacas ,
			activatara ,
			valortara ,
			idperfilventa ,
			activamic ,
			idperfilmic ,
			castigomic ,
			activauhml ,
			idperfiluhml ,
			castigouhml ,
			activastr ,
			idperfilstr ,
			castigostr ,
			activauni ,
			idperfiluni ,
			castigouni ,
			activasfi ,
			idperfilsfi ,
			castigosfi ,
			subtotal ,
			castigototal ,
			preciototal ,
			observaciones ,
			fechacreacion ,
			fechaactualizacion
	from com_calcularenc co inner join cat_clientes cl on co.idcomprador = cl.Idcliente	
	order by co.idcalculo
	end
GO
/****** Object:  StoredProcedure [dbo].[pa_consultacastigomic]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_consultacastigomic]
@idperfilenc int,
@valor decimal(6,2)
as
select castigo
from cat_perfilmicventadet
where idperfilenc = @idperfilenc and @valor between rango1 and rango2
GO
/****** Object:  StoredProcedure [dbo].[pa_consultacastigores]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_consultacastigores]
@idperfilenc int,
@valor decimal(6,2)
as
select castigo
from cat_perfilresventadet
where idperfilenc = @idperfilenc and @valor between rango1 and rango2
GO
/****** Object:  StoredProcedure [dbo].[pa_consultacastigosfi]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_consultacastigosfi]
@idperfilenc int,
@valor decimal(6,2)
as
select castigo
from cat_perfilsfiventadet
where idperfilenc = @idperfilenc and @valor between rango1 and rango2
GO
/****** Object:  StoredProcedure [dbo].[pa_consultacastigouhml]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_consultacastigouhml]
@idperfilenc int,
@valor decimal(6,2)
as
select castigo
from cat_perfiluhmlventadet
where idperfilenc = @idperfilenc and @valor between rango1 and rango2
GO
/****** Object:  StoredProcedure [dbo].[pa_consultacastigouni]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_consultacastigouni]
@idperfilenc int,
@valor decimal(6,2)
as
select castigo
from cat_perfiluniventadet
where idperfilenc = @idperfilenc and @valor between rango1 and rango2
GO
/****** Object:  StoredProcedure [dbo].[pa_consultaclasesclasificacion]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_consultaclasesclasificacion]
as
select idclasesenc ,
		idclasificacion ,
		clave ,
		Descripcion 
from cat_clasesclasificacion
order by idclasificacion
GO
/****** Object:  StoredProcedure [dbo].[pa_consultacliente]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[pa_consultacliente]
@idcliente int,
@nombre nvarchar(100)
as
if @nombre <> '' and @idcliente = 0
	begin
		select idcliente ,
				nombre ,
				rfc ,
				calle ,
				numext ,
				colonia ,
				codigopostal,
				municipio ,
				estado ,
				pais ,
				nombrecontacto,
				mail ,
				telefono
		from cat_clientes
		where nombre like '%'+@nombre+'%'	
		order by nombre	
	end
else if @nombre = '' and @idcliente > 0
	begin
		select idcliente ,
				nombre ,
				rfc ,
				calle ,
				numext ,
				colonia ,
				codigopostal,
				municipio ,
				estado ,
				pais ,
				nombrecontacto,
				mail ,
				telefono
		from cat_clientes
		where idcliente = @idcliente
		order by nombre
	end
else
	begin
		select idcliente ,
				nombre ,
				rfc ,
				calle ,
				numext ,
				colonia ,
				codigopostal,
				municipio ,
				estado ,
				pais ,
				nombrecontacto,
				mail ,
				telefono
		from cat_clientes
		order by nombre				
	end
GO
/****** Object:  StoredProcedure [dbo].[pa_consultacombomicventa]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[pa_consultacombomicventa]
as
select idperfilenc,
	   descripcion 
from cat_perfilmicventaenc
where idestatus = 1
order by idperfilenc
GO
/****** Object:  StoredProcedure [dbo].[pa_consultacomboperfilventa]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_consultacomboperfilventa]
as
select idperfilenc,descripcion
from cat_perfilventaenc
where idestatus = 1
order by idperfilenc
GO
/****** Object:  StoredProcedure [dbo].[pa_consultacomboresventa]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_consultacomboresventa]
as
select idperfilenc,
	   descripcion 
from cat_perfilresventaenc
where idestatus = 1
order by idperfilenc
GO
/****** Object:  StoredProcedure [dbo].[pa_consultacombosfiventa]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_consultacombosfiventa]
as
select idperfilenc,
	   descripcion 
from cat_perfilsfiventaenc
where idestatus = 1
order by idperfilenc
GO
/****** Object:  StoredProcedure [dbo].[pa_consultacombouhmlventa]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_consultacombouhmlventa]
as
select idperfilenc,
	   descripcion 
from cat_perfiluhmlventaenc
where idestatus = 1
order by idperfilenc
GO
/****** Object:  StoredProcedure [dbo].[pa_consultacombounidadventa]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[pa_consultacombounidadventa]
as
select idperfilenc,
		descripcion,
		valorunidad
from cat_unidadventa
where idestatus = 1
order by idperfilenc
GO
/****** Object:  StoredProcedure [dbo].[pa_consultacombouniventa]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_consultacombouniventa]
as
select idperfilenc,
	   descripcion 
from cat_perfiluniventaenc
where idestatus = 1
order by idperfilenc
GO
/****** Object:  StoredProcedure [dbo].[pa_consultadatosempresa]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[pa_consultadatosempresa]
@idempresa int
as
select idempresa ,
		razonsocial ,
		rfcempresa ,
		calleempresa ,
		numextempresa ,
		coloniaempresa ,
		cpempresa,
		municipioempresa ,
		estadoempresa ,
		paisempresa ,
		nombrecontacto,
		mailempresa ,
		telefonoempresa ,
		logoempresa 
from conf_datosempresa
where idempresa = @idempresa
GO
/****** Object:  StoredProcedure [dbo].[pa_consultagradecalculo]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_consultagradecalculo]
@colorgrade nvarchar(4),
@trashid int
as
select cac.clave as grado 
from cat_gradosclasificacion cag inner join cat_clasesclasificacion cac on cag.idclase = cac.idclasificacion
where cag.gradocolor = @colorgrade and cag.trashid = @trashid
GO
/****** Object:  StoredProcedure [dbo].[pa_consultagradosclasificacion]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[pa_consultagradosclasificacion]
as
select cgc.Idgradosclasificacion,
	   cgc.gradocolor,
	   cgc.trashid,
	   cgc.descripcion,
	   cgc.idclase,
	   ccc.clave
from cat_gradosclasificacion cgc inner join cat_clasesclasificacion ccc on cgc.idclase = ccc.idclasificacion
order by gradocolor,trashid
GO
/****** Object:  StoredProcedure [dbo].[pa_consultapacasdet]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[pa_consultapacasdet]
@idcalculo int,
@sel bit = 0
as
SELECT idcalculodet
      ,idcalculo
      ,baleid
      ,mic
      ,uhml
      ,ui
      ,strength
      ,sfi
      ,elongation
      ,grade
      ,colorgrade
      ,trashcount
      ,trasharea
      ,trashid
      ,sci
      ,kilos
      ,preciopaca
      ,precioclase
      ,valorpeso
      ,valorunidad
      ,castigomic
      ,castigouhml
      ,castigores
      ,castigouni
      ,castigosfi
	  ,@sel as Seleccionar
  FROM com_calculadet
  where idcalculo = @idcalculo
GO
/****** Object:  StoredProcedure [dbo].[pa_consultaperfilmicventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_consultaperfilmicventadet]
@idperfilenc int
as
select idperfildet,
		idperfilenc,
		rango1,
		rango2,
		castigo 
from cat_perfilmicventadet
where idperfilenc = @idperfilenc
order by rango1

GO
/****** Object:  StoredProcedure [dbo].[pa_consultaperfilmicventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[pa_consultaperfilmicventaenc]
as
select idperfilenc,
		descripcion,
		idestatus,
		case idestatus
		when 0 then 'Inactivo' 
		when 1 then 'Activo'
		end as estatus,
		fechacreacion,
		fechaactualizacion
from cat_perfilmicventaenc
order by idperfilenc
GO
/****** Object:  StoredProcedure [dbo].[pa_consultaperfilresventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_consultaperfilresventadet]
@idperfilenc int
as
select idperfildet,
		idperfilenc,
		rango1,
		rango2,
		castigo 
from cat_perfilresventadet
where idperfilenc = @idperfilenc
order by rango1
GO
/****** Object:  StoredProcedure [dbo].[pa_consultaperfilresventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_consultaperfilresventaenc]
as
select idperfilenc,
		descripcion,
		idestatus,
		case idestatus
		when 0 then 'Inactivo' 
		when 1 then 'Activo'
		end as estatus,
		fechacreacion,
		fechaactualizacion
from cat_perfilresventaenc
order by idperfilenc
GO
/****** Object:  StoredProcedure [dbo].[pa_consultaperfilsfiventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_consultaperfilsfiventadet]
@idperfilenc int
as
select idperfildet,
		idperfilenc,
		rango1,
		rango2,
		castigo 
from cat_perfilsfiventadet
where idperfilenc = @idperfilenc
order by rango1
GO
/****** Object:  StoredProcedure [dbo].[pa_consultaperfilsfiventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_consultaperfilsfiventaenc]
as
select idperfilenc,
		descripcion,
		idestatus,
		case idestatus
		when 0 then 'Inactivo' 
		when 1 then 'Activo'
		end as estatus,
		fechacreacion,
		fechaactualizacion
from cat_perfilsfiventaenc
order by idperfilenc
GO
/****** Object:  StoredProcedure [dbo].[pa_consultaperfiluhmlventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[pa_consultaperfiluhmlventadet]
@idperfilenc int
as
select idperfildet,
		idperfilenc,
		rango1,
		rango2,
		lenghtNDS,
		castigo 
from cat_perfiluhmlventadet
where idperfilenc = @idperfilenc
order by lenghtNDS
GO
/****** Object:  StoredProcedure [dbo].[pa_consultaperfiluhmlventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_consultaperfiluhmlventaenc]
as
select idperfilenc,
		descripcion,
		idestatus,
		case idestatus
		when 0 then 'Inactivo' 
		when 1 then 'Activo'
		end as estatus,
		fechacreacion,
		fechaactualizacion
from cat_perfiluhmlventaenc
order by idperfilenc
GO
/****** Object:  StoredProcedure [dbo].[pa_consultaperfiluniventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_consultaperfiluniventadet]
@idperfilenc int
as
select idperfildet,
		idperfilenc,
		rango1,
		rango2,
		castigo 
from cat_perfiluniventadet
where idperfilenc = @idperfilenc
order by rango1
GO
/****** Object:  StoredProcedure [dbo].[pa_consultaperfiluniventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_consultaperfiluniventaenc]
as
select idperfilenc,
		descripcion,
		idestatus,
		case idestatus
		when 0 then 'Inactivo' 
		when 1 then 'Activo'
		end as estatus,
		fechacreacion,
		fechaactualizacion
from cat_perfiluniventaenc
order by idperfilenc
GO
/****** Object:  StoredProcedure [dbo].[pa_consultaperfilventacalculo]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_consultaperfilventacalculo]
@idperfilenc int
as
select cp.idperfilenc,cc.clave,cp.diferencial
from cat_perfilventadet cp inner join cat_clasesclasificacion cc on cp.idclasesenc = cc.idclasesenc
where idperfilenc = @idperfilenc
order by cc.idclasificacion
GO
/****** Object:  StoredProcedure [dbo].[pa_consultaperfilventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_consultaperfilventaenc]
as
select idperfilenc,
		descripcion,
		idestatus,
		case idestatus
		 when 0 then 'INACTIVO'
		 WHEN 1 THEN 'ACTIVO'
		 END AS estatus,
		fechacreacion,
		fechaactualizacion
from cat_perfilventaenc
order by idperfilenc
GO
/****** Object:  StoredProcedure [dbo].[pa_consultaprfilventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[pa_consultaprfilventadet]
@idperfilenc int = 0
as 
if @idperfilenc > 0
	begin
		select cpv.idperfildet,
			   cpv.idperfilenc,
			   ccc.idclasesenc,
			   ccc.idclasificacion,
			   ccc.Descripcion,
			   ccc.clave,
			   isnull(cpv.diferencial,0) as diferencial
		from cat_clasesclasificacion ccc right join cat_perfilventadet cpv on ccc.idclasesenc = cpv.idclasesenc
		where isnull(cpv.idperfilenc,0) = @idperfilenc
		order by ccc.idclasificacion
	end
else
	begin
		select 0 as idperfildet,
			   0 as idperfilenc,
			   ccc.idclasesenc,
			   ccc.idclasificacion,
			   ccc.Descripcion,
			   ccc.clave,
			   0 as diferencial
		from cat_clasesclasificacion ccc 		
		order by ccc.idclasificacion
	end

GO
/****** Object:  StoredProcedure [dbo].[pa_consultaresumencalculo]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[pa_consultaresumencalculo]
@idcalculo int
as
select sum(coc.preciopaca) as preciopaca
	  ,coc.precioclase
	  ,cac.idclasificacion
	  ,coc.grade
	  ,sum(coc.valorpeso) as valorpeso
	  ,sum(coc.valorunidad) as valorunidad
	  ,sum(coc.castigomic) as castigomic 
	  ,sum(coc.castigouhml) as castigouhml 
	  ,sum(coc.castigores) as castigores 
	  ,sum(coc.castigouni) as castigouni 
	  ,sum(coc.castigosfi) as castigosfi  
	  ,count(baleid) as cantidadpacas
from com_calculadet coc inner join cat_clasesclasificacion cac ON coc.grade = cac.clave
where idcalculo = @idcalculo
group by cac.idclasificacion,coc.grade,coc.precioclase
order by cac.idclasificacion
GO
/****** Object:  StoredProcedure [dbo].[pa_consultaunidadventa]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[pa_consultaunidadventa]
as
select idperfilenc,
	   descripcion,
	   valorunidad,
	   idestatus,
	   case idestatus
	   when 0 then 'Inactivo'
	   when 1 then 'Activo'
	   end as estatus,
	   fechacreacion,
	   fechaactualizacion 
from cat_unidadventa
order by idperfilenc
GO
/****** Object:  StoredProcedure [dbo].[pa_consultausoperfilmic]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[pa_consultausoperfilmic]
@idperfilenc int
as
if exists (select idperfilmic from com_calcularenc where idperfilmic = @idperfilenc)
begin
	select 1 as existe
end
else
begin
	select 0 as existe
end	
GO
/****** Object:  StoredProcedure [dbo].[pa_consultausoperfilsfi]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[pa_consultausoperfilsfi]
@idperfilenc int
as
if exists (select idperfilsfi from com_calcularenc where idperfilsfi = @idperfilenc)
begin
	select 1 as existe
end
else
begin
	select 0 as existe
end	
GO
/****** Object:  StoredProcedure [dbo].[pa_consultausoperfilstr]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[pa_consultausoperfilstr]
@idperfilenc int
as
if exists (select idperfilstr from com_calcularenc where idperfilstr = @idperfilenc)
begin
	select 1 as existe
end
else
begin
	select 0 as existe
end	
GO
/****** Object:  StoredProcedure [dbo].[pa_consultausoperfiluhml]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[pa_consultausoperfiluhml]
@idperfilenc int
as
if exists (select idperfiluhml from com_calcularenc where idperfiluhml = @idperfilenc)
begin
	select 1 as existe
end
else
begin
	select 0 as existe
end	
GO
/****** Object:  StoredProcedure [dbo].[pa_consultausoperfiluni]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[pa_consultausoperfiluni]
@idperfilenc int
as
if exists (select idperfiluni from com_calcularenc where idperfiluni = @idperfilenc)
begin
	select 1 as existe
end
else
begin
	select 0 as existe
end	
GO
/****** Object:  StoredProcedure [dbo].[pa_eliminarparametrosgradosclasif]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_eliminarparametrosgradosclasif]
as
truncate table cat_gradosclasificacion
GO
/****** Object:  StoredProcedure [dbo].[pa_eliminarparametrosperfilmicdet]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[pa_eliminarparametrosperfilmicdet]
@idperfilenc int
as
delete 
from cat_perfilmicventadet
where idperfilenc = @idperfilenc
GO
/****** Object:  StoredProcedure [dbo].[pa_eliminarparametrosperfilresdet]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_eliminarparametrosperfilresdet]
@idperfilenc int
as
delete 
from cat_perfilresventadet
where idperfilenc = @idperfilenc
GO
/****** Object:  StoredProcedure [dbo].[pa_eliminarparametrosperfilsfidet]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_eliminarparametrosperfilsfidet]
@idperfilenc int
as
delete 
from cat_perfilsfiventadet
where idperfilenc = @idperfilenc
GO
/****** Object:  StoredProcedure [dbo].[pa_eliminarparametrosperfiluhmldet]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_eliminarparametrosperfiluhmldet]
@idperfilenc int
as
delete 
from cat_perfiluhmlventadet
where idperfilenc = @idperfilenc
GO
/****** Object:  StoredProcedure [dbo].[pa_eliminarparametrosperfilunidet]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_eliminarparametrosperfilunidet]
@idperfilenc int
as
delete 
from cat_perfiluniventadet
where idperfilenc = @idperfilenc
GO
/****** Object:  StoredProcedure [dbo].[pa_insertacalculodet]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[pa_insertacalculodet]
@idcalculodet int,
@idcalculo int,
@baleid bigint,
@mic float,
@uhml float,
@ui float,
@strength float,
@sfi float,
@elongation float,
@grade nvarchar(6),
@colorgrade nvarchar(4),
@trashcount int,
@trasharea float,
@trashid int,
@sci int,
@kilos decimal(10,4),
@preciopaca decimal(18,6),
@precioclase decimal(18,4),
@valorpeso decimal(18,4),
@valorunidad decimal(18,4),
@castigomic decimal(18,4),
@castigouhml decimal(18,4),
@castigores decimal(18,4),
@castigouni decimal(18,4),
@castigosfi decimal(18,4)
as
begin
	set nocount on 
	merge com_calculadet as target
	using (select @idcalculodet ,
			@idcalculo ,
			@baleid ,
			@mic ,
			@uhml ,
			@ui ,
			@strength ,
			@sfi ,
			@elongation ,
			@grade ,
			@colorgrade ,
			@trashcount ,
			@trasharea ,
			@trashid ,
			@sci ,
			@kilos ,
			@preciopaca ,
			@precioclase ,
			@valorpeso ,
			@valorunidad ,
			@castigomic ,
			@castigouhml ,
			@castigores ,
			@castigouni ,
			@castigosfi )
	AS SOURCE (idcalculodet ,
			idcalculo ,
			baleid ,
			mic ,
			uhml ,
			ui ,
			strength ,
			sfi ,
			elongation ,
			grade ,
			colorgrade ,
			trashcount ,
			trasharea ,
			trashid ,
			sci ,
			kilos ,
			preciopaca ,
			precioclase ,
			valorpeso ,
			valorunidad ,
			castigomic ,
			castigouhml ,
			castigores ,
			castigouni ,
			castigosfi )
	ON (Target.idcalculo = source.idcalculo and target.baleid = source.baleid)
	when matched then
	update set baleid = source.baleid ,	
			mic = source.mic ,							
			uhml = source.uhml ,
			ui = source.ui ,
			strength = source.strength ,
			sfi = source.sfi ,			
			elongation = source.elongation ,
			grade = source.grade ,				
			colorgrade = source.colorgrade ,
			trashcount = source.trashcount ,
			trasharea = source.trasharea ,
			trashid = source.trashid ,
			sci = source.sci ,			
			kilos = source.kilos ,
			preciopaca = source.preciopaca ,
			precioclase = source.precioclase ,
			valorpeso = source.valorpeso ,
			valorunidad = source.valorunidad ,
			castigomic = source.castigomic ,
			castigouhml = source.castigouhml ,
			castigores = source.castigores ,
			castigouni = source.castigouni ,
			castigosfi = source.castigosfi
	when not matched then
	insert (idcalculo ,			
			baleid ,	
			mic ,					
			uhml ,
			ui ,
			strength ,
			sfi ,
			elongation ,			
			grade ,			
			colorgrade ,
			trashcount ,
			trasharea ,
			trashid ,
			sci ,
			kilos ,
			preciopaca ,
			precioclase ,
			valorpeso ,
			valorunidad ,
			castigomic ,
			castigouhml ,
			castigores ,
			castigouni ,
			castigosfi)
	values (source.idcalculo ,
			source.baleid ,
			source.mic ,
			source.uhml ,
			source.ui ,
			source.strength ,
			source.sfi ,
			source.elongation ,
			source.grade ,
			source.colorgrade ,
			source.trashcount ,
			source.trasharea ,
			source.trashid ,
			source.sci ,
			source.kilos ,
			source.preciopaca ,
			source.precioclase ,
			source.valorpeso ,
			source.valorunidad ,
			source.castigomic ,
			source.castigouhml ,
			source.castigores ,
			source.castigouni ,
			source.castigosfi);
end
GO
/****** Object:  StoredProcedure [dbo].[pa_insertacalculoenc]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_insertacalculoenc]
@idcalculo int output,
@idcomprador int,
@idunidadventa int,
@valorunidad decimal(10,4),
@precio money,
@puntos money,
@preciosm money,
@preciom money,
@preciomp money,
@precioslmp money,
@precioslm money,
@preciolmp money,
@preciolm money,
@preciosgo money,
@preciogo money,
@precioo money,
@cantidadpacas int,
@activatara bit,
@valortara decimal(4,2),
@idperfilventa int,
@activamic bit,
@idperfilmic int,
@castigomic money,
@activauhml bit,
@idperfiluhml int,
@castigouhml money,
@activastr bit,
@idperfilstr int,
@castigostr money,
@activauni bit,
@idperfiluni int,
@castigouni money,
@activasfi bit,
@idperfilsfi int,
@castigosfi money,
@subtotal money,
@castigototal money,
@preciototal money,
@observaciones nvarchar(max),
@fechacreacion datetime,
@fechaactualizacion datetime
as
begin
	set nocount on
	merge com_calcularenc as target
	using (select @idcalculo,
					@idcomprador ,
					@idunidadventa ,
					@valorunidad ,
					@precio ,
					@puntos ,
					@preciosm ,
					@preciom ,
					@preciomp ,
					@precioslmp ,
					@precioslm ,
					@preciolmp ,
					@preciolm ,
					@preciosgo ,
					@preciogo ,
					@precioo ,
					@cantidadpacas ,
					@activatara ,
					@valortara ,
					@idperfilventa ,
					@activamic ,
					@idperfilmic ,
					@castigomic ,
					@activauhml ,
					@idperfiluhml ,
					@castigouhml ,
					@activastr ,
					@idperfilstr ,
					@castigostr ,
					@activauni ,
					@idperfiluni ,
					@castigouni ,
					@activasfi ,
					@idperfilsfi ,
					@castigosfi ,
					@subtotal ,
					@castigototal ,
					@preciototal ,
					@observaciones ,
					@fechacreacion ,
					@fechaactualizacion )
	as source (idcalculo,
					idcomprador ,
					idunidadventa ,
					valorunidad ,
					precio ,
					puntos ,
					preciosm ,
					preciom ,
					preciomp ,
					precioslmp ,
					precioslm ,
					preciolmp ,
					preciolm ,
					preciosgo ,
					preciogo ,
					precioo ,
					cantidadpacas ,
					activatara ,
					valortara ,
					idperfilventa ,
					activamic ,
					idperfilmic ,
					castigomic ,
					activauhml ,
					idperfiluhml ,
					castigouhml ,
					activastr ,
					idperfilstr ,
					castigostr ,
					activauni ,
					idperfiluni ,
					castigouni ,
					activasfi ,
					idperfilsfi ,
					castigosfi ,
					subtotal ,
					castigototal ,
					preciototal ,
					observaciones ,
					fechacreacion ,
					fechaactualizacion )
	on (target.idcalculo = source.idcalculo)
	when matched then
	update set 		idcomprador  = source.idcomprador,
					idunidadventa  = source.idunidadventa,
					valorunidad  = source.valorunidad,
					precio  = source.precio,
					puntos  = source.puntos,
					preciosm  = source.preciosm,
					preciom  = source.preciom,
					preciomp  = source.preciomp,
					precioslmp  = source.precioslmp,
					precioslm  = source.precioslm,
					preciolmp  = source.preciolmp,
					preciolm  = source.preciolm,
					preciosgo  = source.preciosgo,
					preciogo  = source.preciogo,
					precioo  = source.precioo,
					cantidadpacas  = source.cantidadpacas,
					activatara  = source.activatara,
					valortara  = source.valortara,
					idperfilventa  = source.idperfilventa,
					activamic  = source.activamic,
					idperfilmic  = source.idperfilmic,
					castigomic  = source.castigomic,
					activauhml  = source.activauhml,
					idperfiluhml  = source.idperfiluhml,
					castigouhml  = source.castigouhml,
					activastr  = source.activastr,
					idperfilstr  = source.idperfilstr,
					castigostr  = source.castigostr,
					activauni  = source.activauni,
					idperfiluni  = source.idperfiluni,
					castigouni  = source.castigouni,
					activasfi  = source.activasfi,
					idperfilsfi  = source.idperfilsfi,
					castigosfi  = source.castigosfi,
					subtotal  = source.subtotal,
					castigototal  = source.castigototal,
					preciototal  = source.preciototal,
					observaciones  = source.observaciones,					
					fechaactualizacion  = source.fechaactualizacion
	when not matched then
	insert (idcomprador ,
					idunidadventa ,
					valorunidad ,
					precio ,
					puntos ,
					preciosm ,
					preciom ,
					preciomp ,
					precioslmp ,
					precioslm ,
					preciolmp ,
					preciolm ,
					preciosgo ,
					preciogo ,
					precioo ,
					cantidadpacas ,
					activatara ,
					valortara ,
					idperfilventa ,
					activamic ,
					idperfilmic ,
					castigomic ,
					activauhml ,
					idperfiluhml ,
					castigouhml ,
					activastr ,
					idperfilstr ,
					castigostr ,
					activauni ,
					idperfiluni ,
					castigouni ,
					activasfi ,
					idperfilsfi ,
					castigosfi ,
					subtotal ,
					castigototal ,
					preciototal ,
					observaciones ,
					fechacreacion ,
					fechaactualizacion)
	values (source.idcomprador ,
					source.idunidadventa ,
					source.valorunidad ,
					source.precio ,
					source.puntos ,
					source.preciosm ,
					source.preciom ,
					source.preciomp ,
					source.precioslmp ,
					source.precioslm ,
					source.preciolmp ,
					source.preciolm ,
					source.preciosgo ,
					source.preciogo ,
					source.precioo ,
					source.cantidadpacas ,
					source.activatara ,
					source.valortara ,
					source.idperfilventa ,
					source.activamic ,
					source.idperfilmic ,
					source.castigomic ,
					source.activauhml ,
					source.idperfiluhml ,
					source.castigouhml ,
					source.activastr ,
					source.idperfilstr ,
					source.castigostr ,
					source.activauni ,
					source.idperfiluni ,
					source.castigouni ,
					source.activasfi ,
					source.idperfilsfi ,
					source.castigosfi ,
					source.subtotal ,
					source.castigototal ,
					source.preciototal ,
					source.observaciones ,
					source.fechacreacion ,
					source.fechaactualizacion);
	set @idcalculo = SCOPE_IDENTITY()
end
return @idcalculo
GO
/****** Object:  StoredProcedure [dbo].[Pa_Insertaclasesclasificacion]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Pa_Insertaclasesclasificacion]
@idclasesenc int output,
@idclasificacion int,
@clave nvarchar(6),
@Descripcion nvarchar(30)
as 
begin 
set nocount on
merge cat_clasesclasificacion as target
using (select @idclasesenc ,
				@idclasificacion ,
				@clave ,
				@Descripcion ) 
	AS SOURCE (idclasesenc ,
				idclasificacion ,
				clave ,
				Descripcion )
ON (target.idclasesenc = SOURCE.idclasesenc)
WHEN MATCHED THEN
UPDATE SET idclasificacion = SOURCE.idclasificacion, 
		   clave = SOURCE.clave,
		   Descripcion = SOURCE.Descripcion
WHEN NOT MATCHED THEN
INSERT (idclasificacion ,
		clave ,
		Descripcion)
        VALUES (SOURCE.idclasificacion ,
		SOURCE.clave ,
		SOURCE.Descripcion );
		SET @idclasesenc = SCOPE_IDENTITY()
		END
return @idclasesenc
GO
/****** Object:  StoredProcedure [dbo].[Pa_InsertaCliente]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Pa_InsertaCliente]
@idcliente int output,
@nombre nvarchar(150),
@rfc nvarchar(15),
@calle nvarchar(150),
@numext nvarchar(10),
@colonia nvarchar(50),
@codigopostal nvarchar(8),
@municipio nvarchar(50),
@estado nvarchar(50),
@pais nvarchar(50),
@nombrecontacto nvarchar(150),
@mail nvarchar(50),
@telefono nvarchar(17)
as 
begin 
set nocount on
merge cat_clientes as target
using (select @idcliente ,
				@nombre ,
				@rfc ,
				@calle ,
				@numext ,
				@colonia ,
				@codigopostal,
				@municipio ,
				@estado ,
				@pais ,
				@nombrecontacto,
				@mail ,
				@telefono ) 
	AS SOURCE (idcliente ,
				nombre ,
				rfc ,
				calle ,
				numext ,
				colonia ,
				codigopostal ,
				municipio ,
				estado ,
				pais ,
				nombrecontacto,
				mail ,
				telefono )
ON (target.idcliente = SOURCE.idcliente)
WHEN MATCHED THEN
UPDATE SET nombre = SOURCE.nombre, 
		   rfc = SOURCE.rfc,
		   calle = SOURCE.calle,
		   numext = SOURCE.numext,
		   colonia = SOURCE.colonia,
		   codigopostal = SOURCE.codigopostal,
		   municipio = SOURCE.municipio,
		   estado = SOURCE.estado,
		   pais = SOURCE.pais,
		   nombrecontacto = SOURCE.nombrecontacto,
		   mail = SOURCE.mail,
		   telefono = SOURCE.telefono
WHEN NOT MATCHED THEN
INSERT (nombre ,
		rfc ,
		calle ,
		numext ,
		colonia ,
		codigopostal,
		municipio ,
		estado ,
		pais ,
		nombrecontacto,
		mail ,
		telefono )
        VALUES (SOURCE.nombre ,
		SOURCE.rfc ,
		SOURCE.calle ,
		SOURCE.numext ,
		SOURCE.colonia ,
		SOURCE.codigopostal,
		SOURCE.municipio ,
		SOURCE.estado ,
		SOURCE.pais ,
		SOURCE.nombrecontacto ,
		SOURCE.mail ,
		SOURCE.telefono);
		SET @idcliente = SCOPE_IDENTITY()
		END
return @idcliente
GO
/****** Object:  StoredProcedure [dbo].[Pa_InsertaDatosEmpresa]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Pa_InsertaDatosEmpresa]
@idempresa int ,
@razonsocial nvarchar(150),
@rfcempresa nvarchar(15),
@calleempresa nvarchar(150),
@numextempresa nvarchar(10),
@coloniaempresa nvarchar(50),
@cpempresa nvarchar(8),
@municipioempresa nvarchar(50),
@estadoempresa nvarchar(50),
@paisempresa nvarchar(50),
@nombrecontacto nvarchar(150),
@mailempresa nvarchar(50),
@telefonoempresa nvarchar(17),
@logoempresa varbinary(max)
as 
begin 
set nocount on
merge conf_datosempresa as target
using (select @idempresa ,
				@razonsocial ,
				@rfcempresa ,
				@calleempresa ,
				@numextempresa ,
				@coloniaempresa ,
				@cpempresa,
				@municipioempresa ,
				@estadoempresa ,
				@paisempresa ,
				@mailempresa ,
				@nombrecontacto,
				@telefonoempresa ,
				@logoempresa ) 
	AS SOURCE (idempresa ,
				razonsocial ,
				rfcempresa ,
				calleempresa ,
				numextempresa ,
				coloniaempresa ,
				cpempresa ,
				municipioempresa ,
				estadoempresa ,
				paisempresa ,
				nombrecontacto,
				mailempresa ,
				telefonoempresa ,
				logoempresa )
ON (target.idempresa = SOURCE.idempresa)
WHEN MATCHED THEN
UPDATE SET razonsocial = SOURCE.razonsocial, 
		   rfcempresa = SOURCE.rfcempresa,
		   calleempresa = SOURCE.calleempresa,
		   numextempresa = SOURCE.numextempresa,
		   coloniaempresa = SOURCE.coloniaempresa,
		   cpempresa = SOURCE.cpempresa,
		   municipioempresa = SOURCE.municipioempresa,
		   estadoempresa = SOURCE.estadoempresa,
		   paisempresa = SOURCE.paisempresa,
		   nombrecontacto = SOURCE.nombrecontacto,
		   mailempresa = SOURCE.mailempresa,
		   telefonoempresa = SOURCE.telefonoempresa,
		   logoempresa = SOURCE.logoempresa
WHEN NOT MATCHED THEN
INSERT (razonsocial ,
		rfcempresa ,
		calleempresa ,
		numextempresa ,
		coloniaempresa ,
		cpempresa,
		municipioempresa ,
		estadoempresa ,
		paisempresa ,
		nombrecontacto ,
		mailempresa ,
		telefonoempresa ,
		logoempresa)
        VALUES (SOURCE.razonsocial ,
		SOURCE.rfcempresa ,
		SOURCE.calleempresa ,
		SOURCE.numextempresa ,
		SOURCE.coloniaempresa ,
		SOURCE.cpempresa,
		SOURCE.municipioempresa ,
		SOURCE.estadoempresa ,
		SOURCE.paisempresa ,
		SOURCE.nombrecontacto ,
		SOURCE.mailempresa ,
		SOURCE.telefonoempresa ,
		SOURCE.logoempresa);
		SET @idempresa = SCOPE_IDENTITY()
		END
GO
/****** Object:  StoredProcedure [dbo].[Pa_Insertagradosclasificacion]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Pa_Insertagradosclasificacion]
@Idgradosclasificacion int output,
@gradocolor nvarchar(5),
@trashid int,
@descripcion nvarchar(40),
@idclase int
as 
begin 
set nocount on
merge cat_gradosclasificacion as target
using (select @Idgradosclasificacion ,
				@gradocolor ,
				@trashid ,
				@descripcion ,
				@idclase ) 
	AS SOURCE (Idgradosclasificacion ,
				gradocolor ,
				trashid ,
				descripcion ,
				idclase )
ON (target.Idgradosclasificacion = SOURCE.Idgradosclasificacion)
WHEN MATCHED THEN
UPDATE SET gradocolor = SOURCE.gradocolor, 
		   trashid = SOURCE.trashid,
		   descripcion = SOURCE.descripcion,
		   idclase = SOURCE.idclase
WHEN NOT MATCHED THEN
INSERT (gradocolor ,
		trashid ,
		descripcion,
		idclase)
        VALUES (SOURCE.gradocolor ,
		SOURCE.trashid ,
		SOURCE.descripcion ,
		SOURCE.idclase );
		SET @Idgradosclasificacion = SCOPE_IDENTITY()
		END
return @Idgradosclasificacion
GO
/****** Object:  StoredProcedure [dbo].[pa_insertaperfilmicrestaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[pa_insertaperfilmicrestaenc]
@idperfilenc int output,
@descripcion nvarchar(30),
@idestatus int,
@fechacreacion datetime,
@fechaactualizacion datetime
as 
begin
	set nocount on
	merge cat_perfilmicventaenc as target
	using (select @idperfilenc,
				  @descripcion ,
				  @idestatus ,
				  @fechacreacion ,
				  @fechaactualizacion )
	as source (idperfilenc,
				descripcion ,
				idestatus ,
				fechacreacion ,
				fechaactualizacion )
	on (target.idperfilenc = source.idperfilenc)
	when matched then
	update set descripcion = source.descripcion ,
				idestatus = source.idestatus ,
				fechaactualizacion = source.fechaactualizacion
	when not matched then
	insert (descripcion ,
				idestatus ,
				fechacreacion ,
				fechaactualizacion)
	values (source.descripcion ,
				source.idestatus ,
				source.fechacreacion ,
				source.fechaactualizacion);
	set @idperfilenc = SCOPE_IDENTITY()
end
return @idperfilenc
GO
/****** Object:  StoredProcedure [dbo].[pa_insertaperfilmicventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_insertaperfilmicventadet]
@idperfildet int,
@idperfilenc int,
@rango1 decimal(6,2),
@rango2 decimal(6,2),
@castigo decimal(6,2)
as
begin
	set nocount on
	merge cat_perfilmicventadet as target
	using (select @idperfildet ,
					@idperfilenc ,
					@rango1 ,
					@rango2 ,
					@castigo )
	as source (idperfildet ,
					idperfilenc ,
					rango1 ,
					rango2 ,
					castigo  )
	on (target.idperfildet = source.idperfildet and 
		target.idperfilenc = source.idperfilenc)
	when matched then
	update set 		rango1 = source.rango1 ,
					rango2 = source.rango2 ,
					castigo = source.castigo
	when not matched then
	insert (idperfilenc ,
					rango1 ,
					rango2 ,
					castigo )
	values (source.idperfilenc ,
					source.rango1 ,
					source.rango2 ,
					source.castigo );
	set @idperfilenc = SCOPE_IDENTITY()	
end
GO
/****** Object:  StoredProcedure [dbo].[pa_insertaperfilmicventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_insertaperfilmicventaenc]
@idperfilenc int output,
@descripcion nvarchar(30),
@idestatus int,
@fechacreacion datetime,
@fechaactualizacion datetime
as 
begin
	set nocount on
	merge cat_perfilmicventaenc as target
	using (select @idperfilenc,
				  @descripcion ,
				  @idestatus ,
				  @fechacreacion ,
				  @fechaactualizacion )
	as source (idperfilenc,
				descripcion ,
				idestatus ,
				fechacreacion ,
				fechaactualizacion )
	on (target.idperfilenc = source.idperfilenc)
	when matched then
	update set descripcion = source.descripcion ,
				idestatus = source.idestatus ,
				fechaactualizacion = source.fechaactualizacion
	when not matched then
	insert (descripcion ,
				idestatus ,
				fechacreacion ,
				fechaactualizacion)
	values (source.descripcion ,
				source.idestatus ,
				source.fechacreacion ,
				source.fechaactualizacion);
	set @idperfilenc = SCOPE_IDENTITY()
end
return @idperfilenc
GO
/****** Object:  StoredProcedure [dbo].[pa_insertaperfilresventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_insertaperfilresventadet]
@idperfildet int,
@idperfilenc int,
@rango1 decimal(6,2),
@rango2 decimal(6,2),
@castigo decimal(6,2)
as
begin
	set nocount on
	merge cat_perfilresventadet as target
	using (select @idperfildet ,
					@idperfilenc ,
					@rango1 ,
					@rango2 ,
					@castigo )
	as source (idperfildet ,
					idperfilenc ,
					rango1 ,
					rango2 ,
					castigo  )
	on (target.idperfildet = source.idperfildet and 
		target.idperfilenc = source.idperfilenc)
	when matched then
	update set 		rango1 = source.rango1 ,
					rango2 = source.rango2 ,
					castigo = source.castigo
	when not matched then
	insert (idperfilenc ,
					rango1 ,
					rango2 ,
					castigo )
	values (source.idperfilenc ,
					source.rango1 ,
					source.rango2 ,
					source.castigo );
	set @idperfilenc = SCOPE_IDENTITY()	
end
GO
/****** Object:  StoredProcedure [dbo].[pa_insertaperfilresventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_insertaperfilresventaenc]
@idperfilenc int output,
@descripcion nvarchar(30),
@idestatus int,
@fechacreacion datetime,
@fechaactualizacion datetime
as 
begin
	set nocount on
	merge cat_perfilresventaenc as target
	using (select @idperfilenc,
				  @descripcion ,
				  @idestatus ,
				  @fechacreacion ,
				  @fechaactualizacion )
	as source (idperfilenc,
				descripcion ,
				idestatus ,
				fechacreacion ,
				fechaactualizacion )
	on (target.idperfilenc = source.idperfilenc)
	when matched then
	update set descripcion = source.descripcion ,
				idestatus = source.idestatus ,
				fechaactualizacion = source.fechaactualizacion
	when not matched then
	insert (descripcion ,
				idestatus ,
				fechacreacion ,
				fechaactualizacion)
	values (source.descripcion ,
				source.idestatus ,
				source.fechacreacion ,
				source.fechaactualizacion);
	set @idperfilenc = SCOPE_IDENTITY()
end
return @idperfilenc
GO
/****** Object:  StoredProcedure [dbo].[pa_insertaperfilsfiventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_insertaperfilsfiventadet]
@idperfildet int,
@idperfilenc int,
@rango1 decimal(6,2),
@rango2 decimal(6,2),
@castigo decimal(6,2)
as
begin
	set nocount on
	merge cat_perfilsfiventadet as target
	using (select @idperfildet ,
					@idperfilenc ,
					@rango1 ,
					@rango2 ,
					@castigo )
	as source (idperfildet ,
					idperfilenc ,
					rango1 ,
					rango2 ,
					castigo  )
	on (target.idperfildet = source.idperfildet and 
		target.idperfilenc = source.idperfilenc)
	when matched then
	update set 		rango1 = source.rango1 ,
					rango2 = source.rango2 ,
					castigo = source.castigo
	when not matched then
	insert (idperfilenc ,
					rango1 ,
					rango2 ,
					castigo )
	values (source.idperfilenc ,
					source.rango1 ,
					source.rango2 ,
					source.castigo );
	set @idperfilenc = SCOPE_IDENTITY()	
end
GO
/****** Object:  StoredProcedure [dbo].[pa_insertaperfilsfiventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_insertaperfilsfiventaenc]
@idperfilenc int output,
@descripcion nvarchar(30),
@idestatus int,
@fechacreacion datetime,
@fechaactualizacion datetime
as 
begin
	set nocount on
	merge cat_perfilsfiventaenc as target
	using (select @idperfilenc,
				  @descripcion ,
				  @idestatus ,
				  @fechacreacion ,
				  @fechaactualizacion )
	as source (idperfilenc,
				descripcion ,
				idestatus ,
				fechacreacion ,
				fechaactualizacion )
	on (target.idperfilenc = source.idperfilenc)
	when matched then
	update set descripcion = source.descripcion ,
				idestatus = source.idestatus ,
				fechaactualizacion = source.fechaactualizacion
	when not matched then
	insert (descripcion ,
				idestatus ,
				fechacreacion ,
				fechaactualizacion)
	values (source.descripcion ,
				source.idestatus ,
				source.fechacreacion ,
				source.fechaactualizacion);
	set @idperfilenc = SCOPE_IDENTITY()
end
return @idperfilenc
GO
/****** Object:  StoredProcedure [dbo].[pa_insertaperfiluhmlventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_insertaperfiluhmlventadet]
@idperfildet int,
@idperfilenc int,
@rango1 decimal(6,2),
@rango2 decimal(6,2),
@LenghtNDS int,
@castigo decimal(6,2)
as
begin
	set nocount on
	merge cat_perfiluhmlventadet as target
	using (select @idperfildet ,
					@idperfilenc ,
					@rango1 ,
					@rango2 ,
					@LenghtNDS ,
					@castigo )
	as source (idperfildet ,
					idperfilenc ,
					rango1 ,
					rango2 ,
					LenghtNDS ,
					castigo  )
	on (target.idperfildet = source.idperfildet and 
		target.idperfilenc = source.idperfilenc)
	when matched then
	update set 		rango1 = source.rango1 ,
					rango2 = source.rango2 ,
					LenghtNDS = source.LenghtNDS ,
					castigo = source.castigo
	when not matched then
	insert (idperfilenc ,
					rango1 ,
					rango2 ,
					LenghtNDS ,
					castigo )
	values (source.idperfilenc ,
					source.rango1 ,
					source.rango2 ,
					source.LenghtNDS ,
					source.castigo );
	set @idperfilenc = SCOPE_IDENTITY()	
end
GO
/****** Object:  StoredProcedure [dbo].[pa_insertaperfiluhmlventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_insertaperfiluhmlventaenc]
@idperfilenc int output,
@descripcion nvarchar(30),
@idestatus int,
@fechacreacion datetime,
@fechaactualizacion datetime
as 
begin
	set nocount on
	merge cat_perfiluhmlventaenc as target
	using (select @idperfilenc,
				  @descripcion ,
				  @idestatus ,
				  @fechacreacion ,
				  @fechaactualizacion )
	as source (idperfilenc,
				descripcion ,
				idestatus ,
				fechacreacion ,
				fechaactualizacion )
	on (target.idperfilenc = source.idperfilenc)
	when matched then
	update set descripcion = source.descripcion ,
				idestatus = source.idestatus ,
				fechaactualizacion = source.fechaactualizacion
	when not matched then
	insert (descripcion ,
				idestatus ,
				fechacreacion ,
				fechaactualizacion)
	values (source.descripcion ,
				source.idestatus ,
				source.fechacreacion ,
				source.fechaactualizacion);
	set @idperfilenc = SCOPE_IDENTITY()
end
return @idperfilenc
GO
/****** Object:  StoredProcedure [dbo].[pa_insertaperfiluniventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_insertaperfiluniventadet]
@idperfildet int,
@idperfilenc int,
@rango1 decimal(6,2),
@rango2 decimal(6,2),
@castigo decimal(6,2)
as
begin
	set nocount on
	merge cat_perfiluniventadet as target
	using (select @idperfildet ,
					@idperfilenc ,
					@rango1 ,
					@rango2 ,
					@castigo )
	as source (idperfildet ,
					idperfilenc ,
					rango1 ,
					rango2 ,
					castigo  )
	on (target.idperfildet = source.idperfildet and 
		target.idperfilenc = source.idperfilenc)
	when matched then
	update set 		rango1 = source.rango1 ,
					rango2 = source.rango2 ,
					castigo = source.castigo
	when not matched then
	insert (idperfilenc ,
					rango1 ,
					rango2 ,
					castigo )
	values (source.idperfilenc ,
					source.rango1 ,
					source.rango2 ,
					source.castigo );
	set @idperfilenc = SCOPE_IDENTITY()	
end
GO
/****** Object:  StoredProcedure [dbo].[pa_insertaperfiluniventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_insertaperfiluniventaenc]
@idperfilenc int output,
@descripcion nvarchar(30),
@idestatus int,
@fechacreacion datetime,
@fechaactualizacion datetime
as 
begin
	set nocount on
	merge cat_perfiluniventaenc as target
	using (select @idperfilenc,
				  @descripcion ,
				  @idestatus ,
				  @fechacreacion ,
				  @fechaactualizacion )
	as source (idperfilenc,
				descripcion ,
				idestatus ,
				fechacreacion ,
				fechaactualizacion )
	on (target.idperfilenc = source.idperfilenc)
	when matched then
	update set descripcion = source.descripcion ,
				idestatus = source.idestatus ,
				fechaactualizacion = source.fechaactualizacion
	when not matched then
	insert (descripcion ,
				idestatus ,
				fechacreacion ,
				fechaactualizacion)
	values (source.descripcion ,
				source.idestatus ,
				source.fechacreacion ,
				source.fechaactualizacion);
	set @idperfilenc = SCOPE_IDENTITY()
end
return @idperfilenc
GO
/****** Object:  StoredProcedure [dbo].[pa_insertaperfilventadet]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[pa_insertaperfilventadet]
@idperfildet int,
@idperfilenc int,
@idclasesenc int,
@diferencial int
as 
begin
	set nocount on
	merge cat_perfilventadet as target
	using (select @idperfildet ,
					@idperfilenc ,
					@idclasesenc ,
					@diferencial  )
	as source (idperfildet ,
				idperfilenc ,
				idclasesenc ,
				diferencial  )
	on (target.idperfildet = source.idperfildet and target.idperfilenc = source.idperfilenc)
	when matched then
	update set 	idclasesenc = source.idclasesenc ,
				diferencial = source.diferencial
	when not matched then
	insert (idperfilenc ,
				idclasesenc ,
				diferencial)
	values (source.idperfilenc ,
				source.idclasesenc ,
				source.diferencial);
	set @idperfilenc = SCOPE_IDENTITY()
end
GO
/****** Object:  StoredProcedure [dbo].[pa_insertaperfilventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[pa_insertaperfilventaenc]
@idperfilenc int output,
@descripcion nvarchar(30),
@idestatus int,
@fechacreacion datetime,
@fechaactualizacion datetime
as 
begin
	set nocount on
	merge cat_perfilventaenc as target
	using (select @idperfilenc,
				  @descripcion ,
				  @idestatus ,
				  @fechacreacion ,
				  @fechaactualizacion )
	as source (idperfilenc,
				descripcion ,
				idestatus ,
				fechacreacion ,
				fechaactualizacion )
	on (target.idperfilenc = source.idperfilenc)
	when matched then
	update set descripcion = source.descripcion ,
				idestatus = source.idestatus ,
				fechaactualizacion = source.fechaactualizacion
	when not matched then
	insert (descripcion ,
				idestatus ,
				fechacreacion ,
				fechaactualizacion)
	values (source.descripcion ,
				source.idestatus ,
				source.fechacreacion ,
				source.fechaactualizacion);
	set @idperfilenc = SCOPE_IDENTITY()
end
return @idperfilenc
GO
/****** Object:  StoredProcedure [dbo].[pa_insertaunidadventaenc]    Script Date: 12/04/2024 11:11:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pa_insertaunidadventaenc]
@idperfilenc int output,
@descripcion nvarchar(30),
@valorunidad decimal(10,4),
@idestatus int,
@fechacreacion datetime,
@fechaactualizacion datetime
as 
begin
	set nocount on
	merge cat_unidadventa as target
	using (select @idperfilenc,
				  @descripcion ,
				  @valorunidad ,
				  @idestatus ,
				  @fechacreacion ,
				  @fechaactualizacion )
	as source (idperfilenc,
				descripcion ,
				valorunidad ,
				idestatus ,
				fechacreacion ,
				fechaactualizacion )
	on (target.idperfilenc = source.idperfilenc)
	when matched then
	update set descripcion = source.descripcion ,
				valorunidad = source.valorunidad ,
				idestatus = source.idestatus ,
				fechaactualizacion = source.fechaactualizacion
	when not matched then
	insert (descripcion ,
				valorunidad,
				idestatus ,
				fechacreacion ,
				fechaactualizacion)
	values (source.descripcion ,
				source.valorunidad,
				source.idestatus ,
				source.fechacreacion ,
				source.fechaactualizacion);
	set @idperfilenc = SCOPE_IDENTITY()
end
return @idperfilenc
GO
